/*public style*/
.container{width:100%;margin:0 auto;}
/*header*/
#header_box{position:relative;width:100%;padding:20px 3%;background-color:#1E1E1E;color:#A0B1BB;}
#header_box:after{content: "";display: block;height:0;width:100%;clear: both;}
.header_left{float:left;width:55%;line-height: 36px;}
.header_left .mobile_search_btn{display: none;}
.header_left .input_group{width:50%;display: inline-table;}
.header_left .mobile_search_state{position:absolute;left:0;top:78px;width:100%;z-index: 10;background: #fff;}
.header_left .mobile_search_state input{color:#666;}
.header_left .form_control{background: none;}
.header_left .slogan{padding:0 40px;font-size:12px;}
.header_right{float:right;display:table;}
.header_right .common_icon{vertical-align: middle;}
.header_right .header_item{display:table-cell;height:36px;padding:0 20px;border-right:1px solid #303344;vertical-align:middle;font-size:12px;}
.header_right .header_item:last-child{border-right:none;}
.header_right .header_item>em{margin-right:8px;}
.header_right .header_item a{color:#A0B1BB;vertical-align: middle;}

/*section one*/
.sec_one{position:relative;font-size: 0;}
.sec_one .bg_img{width:100%;}
.sec_one .sec_header{position:absolute;top:20px;left:0;right:0;padding:20px 40px;z-index: 5;overflow:hidden;}
.sec_one .sec_header a{display:inline-block;}
.sec_one .sec_header .logo{width:160px;height:35px;background: url("../images/logo.png") no-repeat;}

.sec_one .nav{position:absolute;left:40px;top:100px;width:100px;padding:20px 0;z-index: 5;}
.sec_one .nav li{width:100%;line-height:2.5;font-size:12px;font-weight: bold;}
.sec_one .nav a{color:#fff;}
.sec_one .nav a:hover,.sec_one .nav a:active{border-bottom:1px solid #fff;}
.sec_one .nav .last-item{margin-top:30px;}

.sec_one_content{position:absolute;bottom:0;left:0;width:100%;height:61%;}
.sec_one_content .slogan{width:80%;max-width:895px;height:245px;margin:0 auto;background:url("../images/text.png") no-repeat center top;}
.sec_one_content .download_box{position:absolute;bottom:0;left:0;right:0;padding:30px 100px;background:rgba(0,0,0,0.3);}
.sec_one_content .download_box>div{width:75%;max-width:980px;margin:0 auto;overflow:hidden;}
.sec_one_content .download_box p{float:left;text-align:center;color:#fff;font-weight:bold;text-transform:uppercase;font-size:16px;line-height:3.5;letter-spacing: 0.03em;}
.sec_one_content .download_box .download_btn{float:right;padding:12px 25px;border:2px solid #fff;color:#fff;font-size:16px;opacity:0.8;}

/*section two*/
.sec_two{background-color:#fff;}
.advantages{width:70%;margin:150px auto;font-size:0;}
.advantages li{display:inline-block;width:25%;padding:0 3%;font-size:12px;text-align: center;}
.advantages .mall_icon{display:block;width:70px;height:65px;background:url("../images/mall_icons.png") no-repeat;margin:20px auto;}
.advantages .awesome-icon{background-position:2px 0;}
.advantages .design-icon{background-position:5px -65px;}
.advantages .freeble-icon{background-position:3px -130px;}
.advantages .flexibility-icon{background-position:3px -195px;}
.advantages li h5{font-size:16px;line-height:2.5;word-spacing:0.02em;text-transform: uppercase;}
.advantages li p{color:#999;line-height:2;}
.show1_box{position:relative;padding:0 5%;overflow:hidden;font-size:0;}
.show1_box>div{display:inline-block;height:100%;text-align: center;background-color:#F7F7F9;vertical-align:middle;font-size:0;}
.show1_box>div img{max-width: 100%;}
.show1_box .show1_model1{width:37%;margin-right:5%;}
.show1_box .show1_model2{width:58%;}
.show1_box h3{position:absolute;top:200px;left:0;width:100%;font-size:80px;line-height:1;text-align: center;letter-spacing: 0.03em;}
.show1_box h3 span{margin-left:-4em;word-spacing: 0.03em;font-weight: normal;}
.show1_box h3 strong{margin-left:-1em;}
.show1_box h3 small{display:block;font-size:26px;line-height:2;}
.sec_two .blue_line{margin:90px auto;}
.brands li{font-size:0;text-align: center;}
.brands li a{display:inline-block;box-sizing:border-box;width:180px;height:125px;margin:15px;padding:0 10px;border:1px solid #F3F3F3;background:#F3F3F3 url("../images/brands.png") no-repeat;}
.brands li a:hover{background-color:#fff;border:1px solid #333;}
.brands li .brand-1{background-position:20px 22px;}
.brands li .brand-2{background-position:-152px 13px;}
.brands li .brand-3{background-position:-335px 15px;}
.brands li .brand-4{background-position:-500px 15px;}
.brands li .brand-5{background-position:18px -117px;}
.brands li .brand-6{background-position:-160px -125px;}
.brands li .brand-7{background-position:-340px -125px;}
.brands li .brand-8{background-position:-502px -122px;}
.slide-box{margin:50px auto;}
.slide-box .sign{width:50px;height:50px;line-height:1.6;margin:0 auto;font-size:40px;font-weight:bold;color:#fff;text-align:center;border-radius:50%;background:#92CECF;font-family: "arial";}
.slide-box .slide-intro-box{width:55%;margin:0 auto;}
.slide-box .slide-intro{position:relative;height:100px;margin:50px auto;overflow:hidden;}
.slide-box .slide-intro li{position:absolute;left:50%;top:0;width:70%;margin-left:-35%;}
.slide-box .introduction{font-size:16px;color:#999;line-height:2;text-align: center;}
.slide-box .author{text-align: center;color:#666;font-size:14px;line-height:3;}
.slide-box .slide-intro-box .tips{text-align: center;font-size:0;}
.slide-box .slide-intro-box .tips span{display:inline-block;width:10px;height:10px;margin:0 5px;border-radius:50%;background-color:rgba(200,200,200,0.6);cursor:pointer;}
/*section three*/
.sec_tit{position:relative;}
.sec_tit img{width:100%;max-width: 100%;}
.sec_tit_content{position:absolute;left:55%;top:18%;width:25%;color:#fff;}
.sec_tit_content h3 strong{display:block;font-size:66px;}
.sec_tit_content h3 small{font-size:28px;}
.sec_tit_content p{font-size:14px;line-height:2;}
.line1{width:90px;height:50px;background:url(../images/icons.png) no-repeat 0 -190px;background-size:180px;}
.sec3_content{padding:50px 12%;}
.sec3_content header{text-align: center;}
.sec3_content header h2{font-size:54px;line-height:2;}
.sec3_content header h5{font-size:20px;line-height:1.5;}
.sec3_content header .line{margin:5px auto;}
.sec3_content header p{font-size:14px;line-height:2;}
.news-items{overflow:hidden;}
.news-items li{float:left;width:32%;margin:25px 2% 15px 0;}
.news-items li:nth-child(3n) {margin-right:0;}
.news-items li img{max-width:100%;}
.news-items .item-content{padding-top:20px;text-align: center;}
.news-items .item-content span{font-size:12px;line-height:1.5;color:#999;}
.news-items .item-content h5{font-size:16px;line-height:2;}
.news-items .item-content p{font-size:12px;color:#999;margin-top:15px;}
.all-btn a{display:block;width:150px;height:40px;line-height:40px;margin:25px auto;border:2px solid;color:#000;text-align: center;text-transform: uppercase;}
/*section four*/
.sec_four .sec4_tit_content{left:15%;top:20%;width:30%;color:#333;}
.sec_four .sec4_tit_content strong{text-transform: uppercase;}
.sec_four .sec4_tit_content .line{margin:5px 0;}
.sec_four .sec4_tit_content p{line-height:1.8;}
.checkout-btn{display:block;width:100%;max-width:160px;height:40px;margin-top:50px;line-height:40px;background-color:#000;color:#fff;text-align:center;text-transform: uppercase;}
/*footer*/
footer{padding:80px 0;text-align: center;}
footer h5{font-size:34px;line-height:2;text-transform: capitalize;}
footer .contact{margin:70px auto;}
footer .contact input{width:100%;max-width:350px;padding:20px;font-size:16px;border:none;outline: none;border-bottom:1px solid #000;text-transform: uppercase;text-align: center;color:#000;}
footer .links a{margin:0 10px;text-transform:uppercase;font-size:12px;color:#90D0CF;}

/*适配*/
@media screen and (max-width: 1200px) {
    .header_left{width:42%;}
    .sec_one_content .slogan{background-size:65%;}
    .header_left .slogan{padding:0 15px;}
    .sec_one_content .download_box>div{width:100%;}
    .sec_one_content .download_box p{font-size:14px;}
    .sec_one_content .download_box .download_btn{font-size:14px;}
    .sec_two .advantages{width:85%;}
    .show1_box h3{font-size:48px;}
    .sec_tit_content h3 strong{font-size:48px;}
    .sec_tit_content{top:12%;}
    .sec_four .sec4_tit_content{top:12%;}
}
@media screen and (max-width: 980px) {
    .header_left{width:45%;}
    .header_left .mobile_search_btn{display: inline-block;width:36px;height:36px;padding:5px;vertical-align: middle;cursor: pointer;}
    .header_left .input_group{display:none;}
    .header_right .header_item>em{margin:0;}
    .header_right .header_item>span{display: none;}
    .sec_one_content .slogan{background-size:55%;}
    .sec_one_content{height:68%;}
    .sec_tit_content{top:10%;width: 32%;}
    .sec_one_content .download_box{padding: 30px 50px;}
    .sec_one_content .download_box>div{width:100%;}
    .sec_one_content .download_box p{font-size:12px;}
    .sec_one_content .download_box .download_btn{padding: 12px 15px;font-size:12px;}
    .sec_two .advantages{width:90%;}
    .sec_two .advantages li{padding:0 2%;}
    .sec_two .advantages li{padding:0 2%;}
    .sec_two .advantages li h5{font-size:14px;}
    .show1_box h3{font-size:40px;top:100px;}
    .sec_tit_content h3 strong{font-size:40px;}
    .sec_tit_content p{font-size:12px;}
    .sec3_content header h2{font-size:40px;}
    .sec_four .sec4_tit_content{top:10%;}
    .sec_four .sec4_tit_content .line{margin:0;}
    .checkout-btn{margin-top:20px;}
    .brands li a{width: 150px;height: 100px;background-size: 510px;}
    .brands li .brand-1{background-position:22px 20px;}
    .brands li .brand-2{background-position:-115px 12px;}
    .brands li .brand-3{background-position:-255px 15px;}
    .brands li .brand-4{background-position:-390px 15px;}
    .brands li .brand-5{background-position:18px -89px;}
    .brands li .brand-6{background-position:-115px -95px;}
    .brands li .brand-7{background-position:-257px -95px;}
    .brands li .brand-8{background-position:-394px -92px;}
    .slide-box .slide-intro li{width:100%;margin-left:-50%;}
}
@media screen and (min-width: 320px) and (max-width: 550px){
    .header_left{width:30%;}
    .header_left .slogan{display: none;}
    .sec_one .sec_header{top:0;}
    .sec_one_content .download_box p{display:none;}
    .sec_two .advantages li{width:50%;}
    .news-items li{width:48%;}
    .news-items li:nth-child(3n) {  margin-right:2%;}
    .news-items li:nth-child(2n) {  margin-right:0;}
    .show1_box h3 {font-size: 18px;top: 50px;}
    .slide-box .slide-intro-box{width:85%;}
    .slide-box .slide-intro {height: 100px;margin: 30px auto;}
    .show1_box h3 small{font-size:14px;}
    .sec_tit_content {  width: 40%;}
    .sec_tit_content h3 strong {font-size: 20px;}
    .sec_tit_content h3 small {font-size: 16px;}
    .sec_tit_content p {display:none;}
    .sec3_content header h2 {font-size: 20px;}
    .sec3_content header h5 {font-size: 16px;}
    .sec_four .sec4_tit_content{left:7%;width:40%;}
    .sec_four .sec4_tit_content .line{height:30px;background-size: 200px;background-position:0 -175px;}
    .sec_four .sec4_tit_content p{line-height:1.5;}
    .checkout-btn{margin-top:10px;}
    footer h5{font-size:20px;}
    footer .contact{margin:30px auto;}
    .slide-box .introduction{line-height:1.5;}
    .sec3_content {padding: 30px 5%;}
    footer{padding:40px 0;}
    .brands li{max-width:300px;margin:0 auto;}
}